* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
}

.parallax {
    background-attachment: fixed !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    background: url(./assets/fresh-salad.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.home_text {
    text-align: left;
}

.home_text {
  h1 {
    font-family: 'Josefin Slab', serif;
    font-size: 60px;
    color: darkgrey;
    text-transform: uppercase;
    span {
      color: #fff;
      font-size: 100px;
    }
  }
}

.home_text p {
    color: #fff;
    font-size: 17px;
    line-height: 28px;
    margin-top: 0px;
    font-weight: 300;
}

@media only screen and (max-width: 640px) {
  .home_text {
    h1 {
      font-size: 45px;
      span {
        font-size: 75px;
      }
    }
  }
}
