$bp1: 45em;

.timeline {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;

    &:before {
        content: "";
        position: absolute;
        top: -3em;
        left: 2em;
        width: .25em;
        height: calc(100% + 6em);
        background: linear-gradient(to bottom, #151515 0%, #3b3b3b 2%, #3b3b3b 98%, #151515 100%);

        @media screen and (min-width: $bp1) {
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.timeline__entry {
    position: relative;
    margin-bottom: 4em;
    color: #fff;

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.timeline__id {
    position: absolute;
    top: 1em;
    left: 2em;
    padding: .5em 1em;
    background: #282727;
    transform: translateX(-50%);

    @media screen and (min-width: $bp1) {
        left: 50%;
        transform: translateX(-50%);
    }
}

.timeline__content {
    position: relative;
    display: block;
    margin-left: 6em;
    padding: 1em;
    background: #282727;

    @media screen and (min-width: $bp1) {
        margin-left: 0;
        width: calc(50% - 4em);
    }

    &:before {
        content: "";
        position: absolute;
        display: block;
        top: 1em;
        left: -1em;
        border-top: 1em solid transparent;
        border-bottom: 1em solid transparent;
        border-right: 1em solid #282727;

        @media screen and (min-width: $bp1) {
            left: auto;
            right: -1em;
            border-left: 1em solid #282727;
            border-right: none;
        }
    }
}

.timeline__content--flipped {
    @media screen and (min-width: $bp1) {
        float: right;

        &:before {
            left: -1em;
            right: auto;
            border-left: none;
            border-right: 1em solid #282727;
        }
    }
}

.timeline__heading {
    margin-bottom: .25em;
    font-size: 1.2rem;
}

.timeline__text {
    color: #ccc;

    &:last-child {
        margin-bottom: 0;
    }
}


.__experience {
    padding-top: 50px;
    background-color: #FCFCFC;
    &>.__content{
      padding: 0 10px;
      max-width: 1200px;
      margin: 0 auto;
      font-family: 'Cinzel', serif;
      .__title {
        font-size: 44px;
        line-height: 56px;
        margin-bottom: 32px;
        word-wrap: break-word;
        text-align: center;
      }
      .__subtitle {
        font-size: 33px;
        line-height: 45px;
        text-align: center;
        padding-bottom: 35px;
        border-bottom: 1px solid #91b5b1;
        span {
          color: #91b5b1;
        }
      }
    }
    .__contentRow{
      display:flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
    }
    .__row {
      align-self: flex-start;
      flex:1 50%;
      picture {
        position: relative;
        //width: 220px;
        // padding:10px 10px 40px 10px;
        // display: block;
        // box-shadow: inset 0 0 2px 8px rgba(96,96,96, 0.1), 0 0 5px 5px rgba(0,0,0, 0.3);
        //transform: scale(1.05) rotate(5deg);
        img {
          //border: 1px solid rgba(96,96,96,0.2);
          border: 10px solid #fff;
          border-bottom: 45px solid #fff;
          -webkit-box-shadow: 3px 3px 3px #777;
             -moz-box-shadow: 3px 3px 3px #777;
                  box-shadow: 3px 3px 3px #777;
        }
      }
      .job {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .p3 {
          font-family: 'Cinzel', serif;
          font-size: 24px;
          text-align: justify;
        }
        .h3 {
          color: #91b5b1;
        }
      }
    }
    // .left {
    //   .__row {
    //     text-align: right;
    //     &:first-child{
    //       &:before{
    //         content:'';
    //         right: 100px;
    //         left: initial;
    //       }
    //     }
    //   }
    // }
    // .second, .fourth {
    //   .__row{
    //     &:first-child{
    //       order: 2;
    //     }
    //   }
    // }
    // .__contentPicture{
    //   height: 470px;
    //   display: flex;
    //   text-align: center;
    //   justify-content: center;
    //   img {
    //     width: 370px;
    //     height: 370px;
    //   }
    // }
  }


@media only screen and (max-width: 1024px) {
  .__experience{
    .__contentPicture{
      width:100%;
      height:auto;
      picture{overflow:hidden;}
      img {margin-top:48px;
        width: 106%;
        height: auto;
      }
    }
    .__row:first-child {
      margin-right:0;
    }
  }
}

@media only screen and (max-width: 640px) {
  .__experience{
    .__contentRow{ flex-flow: row wrap;}
    .__row{
      flex: 1 100%;
      &:first-child{
        border:0;
        padding-top: 0;
        order:2;
      }
      &:last-child{
        order:1;
        .__contentPicture{
          border-top:10px solid red;
          &>picture{
            text-align: center;
            margin:0 auto;
            width:100%;
            &>img{width:100%;}
          }

        }
      }
    }
  }
}
