include ../../mixins/button

- const finLoans = $i18n.LANDING.FINLOANS
article.fin.__loans
  .__content
    .__contentRow
      .__row
        .product
          +encabezado(finLoans.title).e3
          +parrafo(finLoans.text).p3
          .list
            +list(finLoans.list)
            +button("button--blue button--without-border", finLoans.link, finLoans.text_link)
      .__row
        span(class="smalltitle") #{finLoans.small_title}
        .__contentPicture.wow.fadeIn(data-wow-duration="1s" data-wow-offset="400")
          picture
            source(srcset=finLoans.image + "," + " " + finLoans.image_retina + " " + "2x")
            img(src=finLoans.image alt="Loans" srcset=finLoans.image_retina width="570" height="600")
